/* design for login page */
.logoDiv {
    height: 100vh;
    background-color: #ffa500;
}
.logoImage {
    text-align: center;
    margin-top: 70px;
}
.loginDiv{
    height: 100vh;
}
.loginForm{
    margin-top: 100px;
}
.loginheading {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}
.loginInfo {
    margin-left: 100px;
    margin-right: 100px;
}
.loginInfo:hover {
    color: #ffa500;
}
.nameInput {
    box-shadow: 5px 10px 8px #888888;
}
.passwordInput {
    box-shadow: 5px 10px 8px #888888;
}
.forgot {
    text-align: right;
    margin-right: 95px;
}
.loginButton {
    background-color: rgb(3, 3, 49);
    padding: 5px 30px;
    border-radius: 17px;
    color: #ffffff;
    font-weight: 600;
}
.loginButton:hover {
    color: #ffffff;
}
.loginButtonDiv {
    text-align: center;
    margin-top: 40px;
}
.nameLabel{
    font-size: 15px;
    font-weight: 700;
}
.passwordLabel{
    font-size: 15px;
    font-weight: 700;
}
.OR {
    font-size: 20px;
    font-weight: 400;
}
.dontHave {
    font-size: 15px;
    font-weight: 600;
}


/* design for registration page */
.registerDiv{
    margin-top: 10px;
}
.regNav {
    font-size: 17px;
}
.registerHeading {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}
.firstNameLabel{
    font-size: 15px;
    font-weight: 700;
}
.lastNameLabel {
    font-size: 15px;
    font-weight: 700;
}
.companyLabel {
    font-size: 15px;
    font-weight: 700;
}
.emailLabel {
    font-size: 15px;
    font-weight: 700;
}
.birthday {
    font-size: 15px;
    font-weight: 700;
}
.registerPassword {
    margin-top: 7px;
}
.message {
    background-color: rgb(3, 3, 49);
    color: #ffffff;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 600;
}
.okButton {
    text-align: center;
}
.daySelect {
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
}
.monthSelect {
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
}
.yearSelect {
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
}
.day {
    font-size: 15px;
    font-weight: 800 !important;
}
input#lastName.form-control.nameInput {
    padding: 10px 120px;
}
input#company.form-control.nameInput {
    padding: 10px 120px;
}
input#email.form-control.nameInput {
    padding: 10px 120px;
}
select.daySelect {
    padding: 2px 20px;
}
select.monthSelect {
    padding: 2px 10px;
    margin-top: 5px;
}
select.yearSelect {
    padding: 2px 20px;
    margin-top: 5px;
}

/* design for creating an account page */
.brandLogo {
    margin-bottom: px;
}
.nav-link {
    color: #ffa500;
    font-weight: 600;
}
.nav-link:hover {
    color: #ffa500;
}
.navDiv {
    margin-top: 20px;
}
span.navbar-toggler-icon {
    color: black !important;
}
button.navbar-toggler.collasped {
    color: black;
}
.createAcc {
    letter-spacing: 1px;
}
.createText {
    margin-right: 170px;
    color: #2e2e2e;
}
.imageAvatar {
    width: 137px;
    height: 134px;
}
.imageA {
    text-align: center;
}
.nameInputs1 {
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 8px #888888;

}
.nameInputs2 {
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 8px #888888;
}
.nameInputs3 {
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
}
.formAccount {
    text-align: center;
}
.name1 {
    margin-right: 234px;
    font-weight: 600;
}
.name2 {
    margin-right: 236px;
    font-weight: 600;
}
.namePass {
    margin-right: 208px;
    font-weight: 600;
}
.femaleButton {
    font-weight: 600; 
} 
.maleButton {
    font-weight: 600;
}
.female {
    margin-right: 15px;
    margin-top: 20px;
}
.male {
    margin-left: 20px;
}
/* message page */
.userMess {
    background-color: #ffa500;
}
.userMessage {
    margin-top: 30vh;
}
.user {
    text-align: center;
}
.users {
    margin-bottom: 40px;
}
.usertext {
    font-size: 25px;
}







@media (max-width: 820px) {
    .logoDiv {
        height: 50vh;
        background-color: #ffa500;
    }
    .logoImage {
        text-align: center;
        margin-top: -56px;
    }
    .loginDiv{
        height: 100vh;
    }
    input#name.form-control.nameInput {
        padding: 10px 120px;
    }
    input#password.form-control.passwordInput {
        padding: 10px 120px;
    }
}